.formSection {
    .form-outer {
        display: flex;
        height: 50vh;
        justify-content: center;
        align-items: center;
        form {
           
            background-color:#303740 ;
            padding: 50px 25px;
        }

    }

}