.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .login-form {
        width: 20%;
        padding: 45px  28px;
        background-color: #303740;
    }
}