// # General
// --------------------------------------------------------------*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    font-family: 'Oswald', sans-serif;
       background-color: #222831;
  color: white;
  font-size: 16px !important;
  p,ul li{
    color: #a9bddc;
  } 
  
  .btn {
    padding: 6px 20px;
    color: #222831;
  }
  a {
    color: #29a19c;
    
}
  

 
}


body:before {
    content: "";
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1400' height='800' preserveAspectRatio='none' viewBox='0 0 1400 800'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1163%26quot%3b)' fill='none'%3e%3cpath d='M575.282%2c615.81C641.528%2c615.706%2c705.803%2c588.168%2c740.574%2c531.781C777.094%2c472.557%2c783.772%2c396.282%2c747.125%2c337.136C712.056%2c280.538%2c641.8%2c262.105%2c575.282%2c265.015C514.282%2c267.684%2c459.889%2c299.263%2c427.649%2c351.115C393.29%2c406.374%2c377.395%2c475.471%2c409.091%2c532.3C441.458%2c590.333%2c508.833%2c615.914%2c575.282%2c615.81' fill='rgba(59%2c 70%2c 85%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1237.819%2c797.896C1264.126%2c796.637%2c1279.209%2c770.092%2c1290.44%2c746.27C1299.741%2c726.541%2c1300.763%2c704.695%2c1290.941%2c685.219C1279.916%2c663.359%2c1262.287%2c642.773%2c1237.819%2c641.928C1212.228%2c641.044%2c1190.547%2c659.03%2c1177.939%2c681.317C1165.54%2c703.234%2c1164.178%2c729.364%2c1175.683%2c751.763C1188.316%2c776.357%2c1210.202%2c799.218%2c1237.819%2c797.896' fill='rgba(59%2c 70%2c 85%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M109.474%2c875.265C179.871%2c874.961%2c233.05%2c819.67%2c268.421%2c758.803C304.011%2c697.56%2c326.993%2c623.242%2c291.581%2c561.896C256.166%2c500.544%2c180.22%2c479.811%2c109.474%2c483.453C45.308%2c486.756%2c-10.456%2c523.603%2c-42.818%2c579.109C-75.443%2c635.067%2c-81.493%2c702.584%2c-51.871%2c760.188C-19.492%2c823.154%2c38.672%2c875.571%2c109.474%2c875.265' fill='rgba(59%2c 70%2c 85%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M573.971%2c176.651C624.061%2c179.994%2c672.602%2c155.612%2c699.291%2c113.094C727.753%2c67.752%2c735.539%2c9.261%2c707.776%2c-36.512C680.829%2c-80.94%2c625.868%2c-96.124%2c573.971%2c-93.523C526.836%2c-91.161%2c483.263%2c-66.069%2c461.541%2c-24.171C441.32%2c14.831%2c453.16%2c59.767%2c474.621%2c98.1C496.725%2c137.582%2c528.823%2c173.638%2c573.971%2c176.651' fill='rgba(59%2c 70%2c 85%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1292.463%2c546.749C1350.038%2c545.731%2c1396.504%2c502.847%2c1422.443%2c451.436C1445.831%2c405.081%2c1438.309%2c352.112%2c1413.746%2c306.369C1387.498%2c257.488%2c1347.943%2c208.936%2c1292.463%2c209.378C1237.464%2c209.816%2c1201.352%2c260.285%2c1174.48%2c308.275C1148.424%2c354.809%2c1130.618%2c408.377%2c1154.267%2c456.179C1180.444%2c509.089%2c1233.441%2c547.793%2c1292.463%2c546.749' fill='rgba(59%2c 70%2c 85%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M372.481%2c284.011C414.646%2c285.358%2c453.613%2c261.158%2c474.462%2c224.483C495.074%2c188.224%2c494.554%2c143.266%2c472.681%2c107.754C451.796%2c73.846%2c412.3%2c58.282%2c372.481%2c58.912C333.851%2c59.523%2c296.824%2c77.312%2c277.623%2c110.838C258.531%2c144.175%2c262.735%2c184.617%2c281.191%2c218.31C300.495%2c253.552%2c332.318%2c282.728%2c372.481%2c284.011' fill='rgba(59%2c 70%2c 85%2c 1)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1163'%3e%3crect width='1400' height='800' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");


background-size:cover;    
background-repeat:no-repeat;
    position: fixed;
    height:100%;
    width:100%;
    z-index: -1;
    // background-color:;

    // filter: grayscale(100%);
    // -webkit-filter: grayscale(90%);
  }

  section {
    padding: 50px 0;
    
  }

  section .section-title {
    border-bottom: 3px solid #29a19c;
    width: 8%;
    padding-bottom: 0.675rem;
    margin-bottom: 2rem;
    
  }
  .btn  {
    padding: 0.775rem 0.975rem;
    border: none;

    &:active {
      border-color: none;
      box-shadow: none;
      background-color: #29a19c;
    }
  }
// .btn-primary {
//   background-color: #222831;
//   border: none;
//   &:active {
//     background-color: #222831;
//     border-color: #222831;
// }
  
//   &:focus {
//     border-color: none;
//     box-shadow: none;
//     background-color: #29a19c;
//   }
// }
.btn-secondary {
  background-color: #29a19c;
  &:hover {
    background-color: #29a19c;
  }
  &:active {
    background-color: #29a19c;
    border-color: #29a19c;
}
  
  &:focus {
    border-color: none;
    box-shadow: none;
    background-color: #29a19c;
  }
}

.card {
  background-color: #303740;
  transition: all 0.5s ease;
  margin: 15px 0; 
}

main {

  .card {
    margin: 15px !important;

    &:hover {
      background-color: #29a19c;
  
    }
    &:hover p, &:hover{
      color: #303740;
  
    }
  }
}

.is-active {
  background-color: #000;
}

// .white-theme {
  

  
//   background-color: #75cfb8;
//   color: #222831;
//   p,ul li{
//     color: #a9bddc;
//   } 

// }
 .h-70vh {
   height: 70vh;
 }

 @import './vendor//bootstrap.min.css';

@import './aside';
@import './heroSection';
@import './header';
@import './about';
@import './skills';
@import './experience';
 @import './qualification';
 @import './footer';
 @import './login';
 @import './userList';
 @import './form';
 @import './work';

 @import './contact';



